<head>

<title>Road Signs Classification</title>

    {% include 'header_imports.html' %}
    <!--import also plotly-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

{% include 'navbar.html' %}

<!--middle section-->       
<div class="row">

    {% include 'social_media.html' %}

    <!--Main column-->        
    <div class="col-11">

        <!--Descriptions       
        <div id="middle-info" class="mt-3">

            <h2 id="tag-line">Recognise a road sign</h2>
            <h4 id="tag-line" class="text-muted">using Machine Learning model trained to classify 43 road sign classes</h4>
            
        </div>-->
        
        <!--Input / output-->       
        <div id="input" class="container mt-3 text-center" >
                    
            <!--top two boxes-->
            <div class="card bg-light mb-3" >
                <h5 class="card-header text-white bg-info">Recognise this road sign</h5>
                <div class="row no-gutters">
                  <div class="col-sm-6">
                      <img src="{{input_filename}}" class="card-img sign-image p-3" alt="Input image">
                    <a href="/upload-image" class="btn btn-outline-success btn-lg mx-auto mb-3">Select image</a>
                  </div>
                  <div class="col-sm-6">
                    <div class="card-body">
                      <h5 class="card-title">{{sign_name}}</h5>
                      <div class="text-center mx-auto predict-image">
                          <img src="{{iconpath}}" class="rounded h-100 mw-100" alt="Predicted sign class">
                      </div>
                      <p class="card-text">With confidence: {{probability}}</p>
                      <p class="card-text small">Evaluation time: {{eval_time}} seconds</p>
                    </div>
                  </div>
                </div>
            </div>

            <!--bottom two charts-->        
            <div class="card bg-light mb-3">
                <h5 class="card-header text-white bg-info">Spatial Transformer Network Layer</h5>
                <div class="card-body">
                        <div class="row no-gutters mb-6">
                            <div class="col-sm-6" >
                                <p class="card-text">Input for ML</p>
                                <div class="text-center mx-auto sign-image">
                                    <img src="{{filename_stn_in}}" class="rounded h-100 mw-100" alt="...">
                                </div>                
                            </div>
                            <div class="col-sm-6">
                                <p class="card-text">Output from STN layer</p>
                                <div class="text-center mx-auto  sign-image">
                                    <img src="{{filename_stn_out}}" class="rounded h-100 mw-100" alt="...">
                                </div>
                                <a href="https://arxiv.org/pdf/1506.02025.pdf" class="text-info">Learn about STN</a>                
                            </div>
                        </div>    
                </div>
            </div>

            <!--Create another row for a probability=ies chart-->
            <div class="card bg-light mb-3">
                <h5 class="card-header text-white bg-info">Probabilities predicted for each sign category</h5>
                <div class="card-body">
                    <div class="row no-gutters mb-6">
                        <div class="col-sm-12">
                            <div id="chart1">
                                <div id="{{ids[0]}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer section-->               
<div id="footer" class="container"></div>

</body>


<footer>
    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>

    
</footer>


</html>