<div class="container">
    <div class="row row-flex">
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651426__340.jpg" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651426__340.jpg" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651426__340.jpg" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651426__340.jpg" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651426__340.jpg" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="https://cdn.pixabay.com/photo/2016/09/07/11/37/tropical-1651426__340.jpg" />
      </div>
    </div>
</div>

