<div class="container">
  <div class="row row-flex">
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/0.png"><img class="img-fluid img-center" src="/static/img/samples/losers/0.png" /></a> 
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/1.png"><img class="img-fluid img-center" src="/static/img/samples/losers/1.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/2.png"><img class="img-fluid img-center" src="/static/img/samples/losers/2.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/3.png"><img class="img-fluid img-center" src="/static/img/samples/losers/3.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/4.png"><img class="img-fluid img-center" src="/static/img/samples/losers/4.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/5.png"><img class="img-fluid img-center" src="/static/img/samples/losers/5.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/6.png"><img class="img-fluid img-center" src="/static/img/samples/losers/6.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/7.png"><img class="img-fluid img-center" src="/static/img/samples/losers/7.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/8.png"><img class="img-fluid img-center" src="/static/img/samples/losers/8.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/9.png"><img class="img-fluid img-center" src="/static/img/samples/losers/9.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/10.png"><img class="img-fluid img-center" src="/static/img/samples/losers/10.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/11.png"><img class="img-fluid img-center" src="/static/img/samples/losers/11.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/12.png"><img class="img-fluid img-center" src="/static/img/samples/losers/12.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/13.png"><img class="img-fluid img-center" src="/static/img/samples/losers/13.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/14.png"><img class="img-fluid img-center" src="/static/img/samples/losers/14.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/15.png"><img class="img-fluid img-center" src="/static/img/samples/losers/15.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/16.png"><img class="img-fluid img-center" src="/static/img/samples/losers/16.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/17.png"><img class="img-fluid img-center" src="/static/img/samples/losers/17.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/18.png"><img class="img-fluid img-center" src="/static/img/samples/losers/18.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/19.png"><img class="img-fluid img-center" src="/static/img/samples/losers/19.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/20.png"><img class="img-fluid img-center" src="/static/img/samples/losers/20.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/21.png"><img class="img-fluid img-center" src="/static/img/samples/losers/21.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/22.png"><img class="img-fluid img-center" src="/static/img/samples/losers/22.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/23.png"><img class="img-fluid img-center" src="/static/img/samples/losers/23.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/24.png"><img class="img-fluid img-center" src="/static/img/samples/losers/24.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/25.png"><img class="img-fluid img-center" src="/static/img/samples/losers/25.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/26.png"><img class="img-fluid img-center" src="/static/img/samples/losers/26.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/27.png"><img class="img-fluid img-center" src="/static/img/samples/losers/27.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/28.png"><img class="img-fluid img-center" src="/static/img/samples/losers/28.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/29.png"><img class="img-fluid img-center" src="/static/img/samples/losers/29.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/30.png"><img class="img-fluid img-center" src="/static/img/samples/losers/30.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/31.png"><img class="img-fluid img-center" src="/static/img/samples/losers/31.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/32.png"><img class="img-fluid img-center" src="/static/img/samples/losers/32.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/33.png"><img class="img-fluid img-center" src="/static/img/samples/losers/33.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/34.png"><img class="img-fluid img-center" src="/static/img/samples/losers/34.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/35.png"><img class="img-fluid img-center" src="/static/img/samples/losers/35.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/36.png"><img class="img-fluid img-center" src="/static/img/samples/losers/36.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/37.png"><img class="img-fluid img-center" src="/static/img/samples/losers/37.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/38.png"><img class="img-fluid img-center" src="/static/img/samples/losers/38.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/39.png"><img class="img-fluid img-center" src="/static/img/samples/losers/39.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/40.png"><img class="img-fluid img-center" src="/static/img/samples/losers/40.png" /></a>
    </div>
    <div class="col-sm-3 col-md-2">
      <a href="/image/losers/41.png"><img class="img-fluid img-center" src="/static/img/samples/losers/41.png" /></a>
    </div>
  </div>
</div>

