<div class="container" style="background-color: aqua;">
    <div class="row row-flex">
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/0.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/1.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/2.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/3.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/4.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/5.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/6.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/7.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/8.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/9.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/10.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/11.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/12.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/13.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/14.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/15.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/16.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/17.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/18.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/19.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/20.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/21.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/22.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/23.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/24.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/25.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/26.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/27.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/28.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/29.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/30.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/31.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/32.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/33.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/34.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/35.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/36.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/37.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/38.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/39.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/40.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/41.png" />
      </div>
      <div class="col-sm-3 col-md-2">
        <img class="img-fluid img-center" src="/static/img/icons/42.png" />
      </div>

    </div>
</div>

