<div class="container" style="background-color: aqua;">
  <div class="row row-flex">
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/0.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/1.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/2.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/3.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/4.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/5.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/6.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/7.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/8.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/9.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/10.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/11.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/12.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/13.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/14.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/15.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/16.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/17.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/18.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/19.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/20.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/21.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/22.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/23.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/24.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/25.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/26.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/27.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/28.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/29.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/30.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/31.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/32.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/33.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/34.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/35.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/36.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/37.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/38.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/39.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/40.png" />
    </div>
    <div class="col-sm-3 col-md-2">
      <img class="img-fluid img-center" src="/static/img/samples/medium_confidence/41.png" />
    </div>
  </div>
</div>

